* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
  font-family: "Oxygen", sans-serif;
  color: #273239;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
