.blogs-container {
  padding: 80px 15px 20px;
}
.blogs-container h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.blog {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.blog h2 {
  margin-bottom: 0.9rem;
}
.blog p {
  line-height: 28px;
  letter-spacing: 1px;
}
footer {
  text-align: center;
  margin-bottom: 38px;
}
